<<<<<<< HEAD
<% title(@project.name, "Projects") %>
=======
<%@title = "Sublime Text 3 - Projects - Ticketee" %>
>>>>>>> 4d694a250858ebf9d3a772c6253cb53f6fb8ad34

<h1><%= @project.name %></h1>
<p><%= @project.description %></p>
